@import "../../node_modules/bootstrap/scss/bootstrap";

$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;
$nord7:  #8FBCBB;
$nord8:  #88C0D0;
$nord9:  #81A1C1;
$nord10: #5E81AC;
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord15: #B48EAD;

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aX8.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0px none;
  box-sizing: border-box;
}

html {
  font-size: 92%;
}

body {
  height: 100%;
  margin: 0;
  background-color: $nord3;
  color: $nord4;
}

section {
    height: 100vh;
}

#container {
  width: 100vw;
  margin: 0 auto;
}

#header {
  float: left;
  width: 100vw;
}
  
#primary {
  float: left;
  width: 25vw;
  height: 500vh;
}
  
#content {
  float: left;
  width: 50vw;
}
  
#secondary {
  float: left;
  width: 25vw;
  height: 500vh;
}
  
#footer {
  clear: both;
  width: 100vw;
}

footer {
  text-align: center;
}

.col {
    min-height: 100%;
    background-color: #88C0D0;
}

nav {
    background-color: #5E81AC;
}

a.navbar-brand {
    color:#D8DEE9;
    font-size: 150%;
    font-weight: bold;
}

.navbar-toggler:focus {
    box-shadow: unset;
    border: unset;
}

.navbar-toggler-icon:focus {
    box-shadow: unset;
}

a.nav-link {
    color:#D8DEE9;
    display: unset;
}

a.nav-link:hover {
    color:#ECEFF4;
}

.navbar-brand:hover {
    color: #ECEFF4;
}

li.nav-item:nth-child(1n) a.nav-link:hover {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #D08770;
    border-right-color:#A3BE8C;
    border-bottom-color: #88C0D0;
    border-left-color: #EBCB8B;  
}

li.nav-item:nth-child(1n) a.nav-link.active {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #D08770;
    border-right-color:#A3BE8C;
    border-bottom-color: #88C0D0;
    border-left-color: #EBCB8B;
}

li.nav-item:nth-child(2n) a.nav-link:hover {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #EBCB8B;
    border-right-color:#BF616A;
    border-bottom-color: #A3BE8C;
    border-left-color: #88C0D0;
}

li.nav-item:nth-child(2n) a.nav-link.active {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #EBCB8B;
    border-right-color:#BF616A;
    border-bottom-color: #A3BE8C;
    border-left-color: #88C0D0;
}

li.nav-item:nth-child(3n) a.nav-link:hover {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #88C0D0;
    border-right-color:#EBCB8B;
    border-bottom-color: #D08770;
    border-left-color: #A3BE8C;
}

li.nav-item:nth-child(3n) a.nav-link.active {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #88C0D0;
    border-right-color:#EBCB8B;
    border-bottom-color: #D08770;
    border-left-color: #A3BE8C;
}

li.nav-item:nth-child(4n) a.nav-link:hover {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #A3BE8C;
    border-right-color:#88C0D0;
    border-bottom-color: #EBCB8B;
    border-left-color: #D08770;
}

li.nav-item:nth-child(4n) a.nav-link.active {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #A3BE8C;
    border-right-color:#88C0D0;
    border-bottom-color: #EBCB8B;
    border-left-color: #D08770;
}

.module {
  float: left;
  width: 98%;
  margin-left: 2%;
  margin-bottom: 2%;
  background-color: $nord0;
  padding: 1em;
  min-height: 60px;
  transition: all 0.3s linear;
}

.grid {
  margin-left: -2%;
  padding: 2%;
  *zoom: 1;
  min-height: 100%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

@include media-breakpoint-down(md) {
    li.nav-item {
        a.nav-link {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        margin-top: 8px;
        margin-bottom: 8px;
    }
}


@media only screen and (max-width: 540px) {
  #primary {
    display: none;
  }
  #secondary {
    display: none;
  }
}

@media only screen and (min-width: 482px) {
  .tablet-1 {
    width: 6.33333333%;
  }
  .tablet-2 {
    width: 14.66666667%;
  }
  .tablet-3 {
    width: 23%;
  }
  .tablet-4 {
    width: 31.33333333%;
  }
  .tablet-5 {
    width: 39.66666667%;
  }
  .tablet-6 {
    width: 48%;
  }
  .tablet-7 {
    width: 56.33333333%;
  }
  .tablet-8 {
    width: 64.66666667%;
  }
  .tablet-9 {
    width: 73%;
  }
  .tablet-10 {
    width: 81.33333333%;
  }
  .tablet-11 {
    width: 89.66666667%;
  }
  .tablet-12 {
    width: 98%;
  }
}

@media only screen and (min-width: 1024px) {
  .desktop-1 {
    width: 6.33333333%;
  }
  .desktop-2 {
    width: 14.66666667%;
  }
  .desktop-3 {
    width: 23%;
  }
  .desktop-4 {
    width: 31.33333333%;
  }
  .desktop-5 {
    width: 39.66666667%;
  }
  .desktop-6 {
    width: 48%;
  }
  .desktop-7 {
    width: 56.33333333%;
  }
  .desktop-8 {
    width: 64.66666667%;
  }
  .desktop-9 {
    width: 73%;
  }
  .desktop-10 {
    width: 81.33333333%;
  }
  .desktop-11 {
    width: 89.66666667%;
  }
  .desktop-12 {
    width: 98%;
  }
}

.cf {
  *zoom: 1;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

.round-image {
    border-radius: 50%;
}

.res-image {
    width: 100%;
    height: auto;
}

.bento-menu{
	width: 33px;
	height: 33px;
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
}
.bento-menu span{
	width: 10px;
	height: 10px;
	background: $nord4;
    border: 2px solid;
    border-color: $nord3;
    border-radius: 50%; 
	position: absolute;
}
.bento-menu span:nth-child(1){
	top: 0;
	left: 0;
	transition: .8s;
}
.bento-menu span:nth-child(2){
	top: 0;
	left: 11px;
	transition: .8s;
}
.bento-menu span:nth-child(3){
	top: 0;
	left: 22px;
	transition: .8s;
}
.bento-menu span:nth-child(4){
	top: 11px;
	left: 0;
	transition: .8s;
}
.bento-menu span:nth-child(5){
	top: 11px;
	left: 11px;
	transition: .8s;
}
.bento-menu span:nth-child(6){
	top: 11px;
	left: 22px;
	transition: .8s;
}
.bento-menu span:nth-child(7){
	top: 22px;
	left: 0;
	transition: .8s;
}
.bento-menu span:nth-child(8){
	top: 22px;
	left: 11px;
	transition: .8s;
}
.bento-menu span:nth-child(9){
	top: 22px;
	left: 22px;
	transition: .8s;
}
.bento-menu:hover span:nth-child(1){
	transform: translate(11px,11px);
    background-color: transparent;
    border-color: transparent;
}
.bento-menu:hover span:nth-child(3){
	transform: translate(-11px,11px);
    background-color: transparent;
    border-color: transparent;
}
.bento-menu:hover span:nth-child(7){
	transform: translate(11px,-11px);
    background-color: transparent;
    border-color: transparent;
}
.bento-menu:hover span:nth-child(9){
	transform: translate(-11px,-11px);
    background-color: transparent;
    border-color: transparent;
}
.bento-menu:hover span:nth-child(2){
	transform: rotate(180deg);
    background-color: #88C0D0;

}
.bento-menu:hover span:nth-child(4){
	transform: rotate(180deg);
    background-color: #EBCB8B;
}
.bento-menu:hover span:nth-child(6){
	transform: rotate(-180deg);
    background-color: #BF616A;

}
.bento-menu:hover span:nth-child(8){
	transform: rotate(-180deg);
    background-color: #A3BE8C;
}