@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Chakra+Petch');
$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;
$nord7:  #8FBCBB;
$nord8:  #88C0D0;
$nord9:  #81A1C1;
$nord10: #5E81AC;
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord15: #B48EAD;

$section-height: 100vh;
$num-sections: 6;
$side-height: $num-sections * $section-height;
$light-text-color: $nord4;

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aX8.ttf) format('truetype');
}

$silkscreen: 'Silkscreen';
$hard-font: 'Chakra Petch';

* {
  margin: 0;
  padding: 0;
  border: 0px none;
  border-color: unset;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: $nord3;
}

section {
    height: $section-height;
}

article {
  &:nth-child(1) {
    margin-top: -1.5rem;
    // background-color: $nord0;
  }
}

#container {
  width: 100vw;
  margin: 0 auto;
}

#header {
  float: left;
  width: 100vw;
}
  
#primary {
  float: left;
  width: 25vw;
  height: $side-height;
}
  
#content {
  float: left;
  width: 50vw;
}
  
#secondary {
  float: left;
  width: 25vw;
  height: $side-height;
}
  
#footer {
  clear: both;
  width: 100vw;
}

footer {
  text-align: center;
}

// .col {
//     min-height: 100%;
//     background-color: #88C0D0;
// }

nav {
    background-color: $nord10;
    font-family: $hard-font;
}

a.navbar-brand {
    color:#D8DEE9;
    font-size: 150%;
    font-weight: bold;
}

.navbar-toggler {
    box-shadow: unset;
    border: unset;
    border-color: $nord10;
}

.navbar-toggler-icon {
    box-shadow: unset;
    border: unset;
    border-color: $nord10;
}

.navbar-toggler:focus {
    box-shadow: unset;
    border: unset;
    border-color: $nord10;
}

.navbar-toggler-icon:focus {
    box-shadow: unset;
    border: unset;
    border-color: $nord10;
}

a.nav-link {
    color:#D8DEE9;
    display: unset;
}

a.nav-link:hover {
    color:#ECEFF4;
}

.navbar-brand:hover {
    color: #ECEFF4;
}

li.nav-item:nth-child(1n) a.nav-link:focus {
    color:#ECEFF4;
}

li.nav-item:nth-child(1n) a.nav-link.active {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #D08770;
    border-right-color:#A3BE8C;
    border-bottom-color: #88C0D0;
    border-left-color: #EBCB8B;
}

li.nav-item:nth-child(2n) a.nav-link:focus {
    color:#ECEFF4;
}

li.nav-item:nth-child(2n) a.nav-link.active {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #EBCB8B;
    border-right-color:#BF616A;
    border-bottom-color: #A3BE8C;
    border-left-color: #88C0D0;
}

li.nav-item:nth-child(3n) a.nav-link:focus {
    color:#ECEFF4;
}

li.nav-item:nth-child(3n) a.nav-link.active {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #88C0D0;
    border-right-color:#EBCB8B;
    border-bottom-color: #D08770;
    border-left-color: #A3BE8C;
}

li.nav-item:nth-child(4n) a.nav-link:focus {
    color:#ECEFF4;
}

li.nav-item:nth-child(4n) a.nav-link.active {
    color:#ECEFF4;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-top-color: #A3BE8C;
    border-right-color:#88C0D0;
    border-bottom-color: #EBCB8B;
    border-left-color: #D08770;
}

.module {
  float: left;
  width: 98%;
  margin-left: 2%;
  margin-bottom: 2%;
  // background-color: $nord0;
  padding: 1em;
  min-height: 60px;
  transition: all 0.3s linear;
}

.grid {
  margin-left: -2%;
  padding: 2%;
  *zoom: 1;
  min-height: 100%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

@include media-breakpoint-down(md) {
    li.nav-item {
        a.nav-link {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        margin-top: 8px;
        margin-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@include media-breakpoint-down(lg) {
    #primary {
        writing-mode: vertical-rl;
    }
  #secondary {
    writing-mode: vertical-rl;
  }
}

@media only screen and (max-width: 482px) {
  #primary {
    display: none;
  }
  #secondary {
    display: none;
  }
  .col {
    display: none;
  }
}

@media only screen and (min-width: 482px) {
  .tablet-1 {
    width: 6.33333333%;
  }
  .tablet-2 {
    width: 14.66666667%;
  }
  .tablet-3 {
    width: 23%;
  }
  .tablet-4 {
    width: 31.33333333%;
  }
  .tablet-5 {
    width: 39.66666667%;
  }
  .tablet-6 {
    width: 48%;
  }
  .tablet-7 {
    width: 56.33333333%;
  }
  .tablet-8 {
    width: 64.66666667%;
  }
  .tablet-9 {
    width: 73%;
  }
  .tablet-10 {
    width: 81.33333333%;
  }
  .tablet-11 {
    width: 89.66666667%;
  }
  .tablet-12 {
    width: 98%;
  }
}

@media only screen and (min-width: 1024px) {
  .desktop-1 {
    width: 6.33333333%;
  }
  .desktop-2 {
    width: 14.66666667%;
  }
  .desktop-3 {
    width: 23%;
  }
  .desktop-4 {
    width: 31.33333333%;
  }
  .desktop-5 {
    width: 39.66666667%;
  }
  .desktop-6 {
    width: 48%;
  }
  .desktop-7 {
    width: 56.33333333%;
  }
  .desktop-8 {
    width: 64.66666667%;
  }
  .desktop-9 {
    width: 73%;
  }
  .desktop-10 {
    width: 81.33333333%;
  }
  .desktop-11 {
    width: 89.66666667%;
  }
  .desktop-12 {
    width: 98%;
  }
}

.cf {
  *zoom: 1;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

.round-image {
    border-radius: 50%;
}

.res-image {
    width: 100%;
    height: auto;
}

$total: 42px;
$size: calc($total / 3) - 1;
$offset: calc($total / 3);

.bento-menu{
	width: $total;
	height: $total;
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
}
.bento-menu span{
    color: $nord4;
	width: $size;
	height: $size;
	background: $nord4;
    border: 1px solid;
    border-color: $nord3;
    border-radius: 50%; 
	position: absolute;
    font-family: $silkscreen;
    font-size: 50%;
}
.bento-menu span:nth-child(1){
	top: 0;
	left: 0;
	transition: .8s;
}
.bento-menu span:nth-child(2){
	top: 0;
	left: $offset;
	transition: .8s;
}
.bento-menu span:nth-child(3){
	top: 0;
	left: $offset * 2;
	transition: .8s;
}
.bento-menu span:nth-child(4){
	top: $offset;
	left: 0;
	transition: .8s;
}
.bento-menu span:nth-child(5){
	top: $offset;
	left: $offset;
	transition: .8s;
}
.bento-menu span:nth-child(6){
	top: $offset;
	left: $offset * 2;
	transition: .8s;
}
.bento-menu span:nth-child(7){
	top: $offset * 2;
	left: 0;
	transition: .8s;
}
.bento-menu span:nth-child(8){
	top: $offset * 2;
	left: $offset;
	transition: .8s;
}
.bento-menu span:nth-child(9){
	top: $offset * 2;
	left: $offset * 2;
	transition: .8s;
}
.bento-menu:hover span:nth-child(1){
	transform: translate($offset,$offset);
    background-color: transparent;
    border-color: transparent;
}
.bento-menu:hover span:nth-child(3){
	transform: translate(-$offset,$offset);
    background-color: transparent;
    border-color: transparent;
}
.bento-menu:hover span:nth-child(5) {
    display: none;
}
.bento-menu:hover span:nth-child(7){
	transform: translate($offset,-$offset);
    background-color: transparent;
    border-color: transparent;
}
.bento-menu:hover span:nth-child(9){
	transform: translate(-$offset,-$offset);
    background-color: transparent;
    border-color: transparent;
}
.bento-menu:hover span:nth-child(2){
	transform: rotate(360deg);
    background-color: #88C0D0;
    color:$nord0;
}
.bento-menu:hover span:nth-child(4){
	transform: rotate(360deg);
    background-color: #EBCB8B;
    color:$nord0;
}
.bento-menu:hover span:nth-child(6){
	transform: rotate(360deg);
    background-color: #BF616A;
    color:$nord0;
}
.bento-menu:hover span:nth-child(8){
	transform: rotate(360deg);
    background-color: #A3BE8C;
    color:$nord0;
}

.section-body {
  padding: 1rem;
  background-color: #3B4252;
  color: $light-text-color;

}

.right {
  width: 60px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  left: auto;
  z-index: 10;
  color: $light-text-color;
  .email {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 1em;
    a {
      margin-top: 20px;
      padding-top: 10px;
      letter-spacing: 0.12em;
      margin-right: -36px;
      writing-mode: vertical-rl;
      &:link {
        color: $nord6;
        text-decoration: none;
      }
      &:visited {
        color: $nord6;
        text-decoration: none;
      }
      &:hover {
        color: $nord6;
        text-decoration: none;
      }
      &:active {
        color: $nord6;
        text-decoration: none;
      }
    }
  }

  .email::after {
    content: "";
    display: block;
    width: 1px;
    height: 120px;
    margin-top: 10px;
    margin-right: 13px;
    margin-left: auto;
    background-color: $nord4;
  }
}

.left {
  width: 60px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  ul {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    list-style-type: none;
    li a {
      margin-top: 20px;
      padding-top: 10px;
    }
  }

  ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 120px;
    margin-top: 10px;
    margin-left: 13px;
    margin-right: auto;
    background-color: $nord4;
  }
 a {

 }
}

#secondary {
 a {

 }
}